@{
    ViewBag.Title = "About";
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
    }

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 8px;
    }

    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #474e5d;
        color: white;
    }

    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }
    }
</style>

<body>

    <div style="margin-top:50px;margin-bottom:30px;background-color:#FFF7E6;color:black" class="about-section">
        <h1>About Us </h1>
        <p>Từ khi ngành dịch vụ ăn uống ở Việt Nam phát triển mạnh mẽ, đã có rất nhiều quán coffee đã ra đời. Trong vòng một hai trở lại đây, dịch Covid đã lây lan trên khắp Việt Nam đã khiến cho hàng triệu người ở nước ta phải ở nhà và chỉ có những shipper được hoạt động. Nắm bắt được tinh hình đó nên nhóm chúng em đã quyết định phát triển một website bán nước online với mục đích có thể phục vụ khách hàng ở nhiều lứa tuổi và không phải ra những quán coffee để mua nước, góp phần hạn chế lây lan dịch bệnh.</p>
    </div>

   
</body>